:root {
  --clr-neutral-50: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 95%);

  --clr-orange-400: hsl(31, 77%, 52%);
  --clr-cyan-400: hsl(184, 100%, 22%);
  --clr-cyan-700: hsl(179, 100%, 13%);

  --ff-primary: system-ui, sans-serif;
  --ff-accent: serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-400: 0.9375rem;
  --fs-700: 2.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
video {
  max-width: 100%;
  display: block;
}

svg {
  flex: none;
  height: 3ex;
  width: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  background-color: var(--clr-neutral-200);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

// main styles

main {
  display: grid;
  place-items: center;
  padding-block: clamp(4rem, 15vw, 6rem);
  padding-inline: 2rem;
}

.wrapper {
  display: grid;
  position: relative;
  border-radius: 1em;
  overflow: hidden;
}
